<!DOCTYPE html>
<html>
<head>
  <title>Shortest</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>
  <%= link_to 'Shortest', :root %>
  </h1>
  <%= link_to 'what\'s this?', 'https://ruffnote.com/pandeiro245/shortest', {target: '_blank'} %>
  <% if current_user %>
  (<%= number_to_currency(Tweet.count) %>tweets
  & <%= Word.count %>words)
  <form method='GET' action='/words'>
  <input name='title'>
  <hr>
  <% end %>
<div id='content'>
<%= yield %>
</div>
</body>
</html>
